@use  './mixin' as *;

.portfolio {
    width:100%; min-height:100%; position:absolute; padding : 40px 0; background:#000; top:100%; z-index:99; transition:all 0.4s;

    &.on {
        top:0; height:100%; overflow-y:scroll;
    }
    .container {
        width:100%; position:relative;

        > .listTab {
            position:relative; padding-bottom:20px; margin-bottom:20px;
            @include media ('pcl') {
                padding: 0 20px 20px;
            }

            &::after {
                content:''; position:absolute; bottom:0; left:0; width:100%; height:1px; background-image : linear-gradient(to right, transparent, #fff, transparent);
            }

            > ul {
                display:flex; flex-flow:row nowrap; align-items:  center; justify-content: flex-start; gap:20px;
                @include media ("tablet") {
                    flex-flow: row wrap;
                }

                @include media ("mobile") {
                    gap:10px 4px;
                }

                > li {
                    width:max-content; position:relative; cursor:pointer;

                    display:block; height:100%; font-size:16px; color:#1b6adf; font-weight:500; line-height:35px; z-index:2; padding: 0 20px; border-radius:10px; overflow:hidden;

                    &::after {
                        content:''; position:absolute ;top:50%; left:50%; transform:translate(-50%,-50%); width:0; height:0; transition:all 0.2s; background:#fff;
                    }

                    > .cnt {
                        font-size:14px; font-weight:400 !important;

                        > b {font-weight:400;}
                    }

                    &:hover {
                        color:#fff; 
                        &::after {
                            width:100%; height:100%; background:#1b6adf; z-index:-1;
                        }

                        > .cnt {
                            > b {
                                font-weight:bold;
                            }
                        }
                    }

                    &.active {
                        background:#1b6adf; color:#fff;
                        
                        &:hover {
                            &::after {
                                content:none;
                            }
                        }
                        
                        > .cnt {
                            > b {
                                font-weight:bold;
                            }
                        }
                    }
                }
            }
        }

        .listCont {
            width:100%; position:relative;

            @include media ('pcl') {
                padding: 0 20px;
            }

            > ul {
                display:flex; flex-flow: row wrap; align-items: flex-start ;justify-content: flex-start; gap:20px; column-gap:20px;

                @include media ('tablet') {
                    flex-flow: row wrap; justify-content: center;
                }

                > li {
                    width:calc(calc(100% / 4) - 35px); height:300px; position:relative; overflow: hidden; margin-right:20px; margin-bottom:20px; position:relative; background:#fff;

                    @include media ('pcl') {
                        width:calc(calc(100% / 3) - 35px);
                    }

                    @include media ('tablet') {
                        width:calc(calc(100% / 2) - 35px);
                    }
                    
                    @include media ('tablet') {
                        width:100%; margin-right:0;
                    }

                    &.block {
                       display:block;
                    }

                    &.hidden {
                        display:none;
                    }

                    &.mo {max-height:350px;}

                    > a {
                        overflow:hidden; display:block; width:100%; height:100%;
                        > img {
                            position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:80%; margin-top:-20px;
                        }

                        > .dataCover {
                            position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:100%; padding: 20px; margin-left:-250px; transition:all 0.4s; z-index:3;
                            > .siteJob {
                                display:flex; flex-flow:column; align-items: flex-start; justify-content: center; position:relative; gap:10px; font-size:16px; color:#fff; font-weight:500; line-height:1.4; letter-spacing:-.0.3px;

                                > span {
                                    display:block; position:relative; padding-left:8px;

                                    &::after {
                                        content:''; position:absolute; top:7px; left:0; width:4px; height:4px; background:#fff; border-radius:50%; 
                                    }
                                }
                            }
                        }

                        > .title {
                            position:absolute; bottom:10px; left:10px; width:100%; font-size:18px; color:#fff; font-weight:500; z-index:3; transition:all 0.3s; text-align:left;
                        }

                        &::after {
                            content:''; position:absolute; bottom:0; left:0; width:100%; height:50px; background:rgba(0,0,0,0.7); transition:all 0.2s; z-index:2;
                        }

                        &:hover {
                            > .dataCover {
                                margin-left:0;
                            }

                            > .title {
                                opacity:0;
                            }

                            &::after {
                                height:100%;
                            }
                        }

                        @include media ('mobile'){
                            > .dataCover {
                                margin-left:0;
                            }

                            > .title {
                                opacity:0;
                            }

                            &::after {
                                height:100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .back {
        position:fixed; bottom:50px; right:50px; width:50px; height:50px; z-index:999; display:none;

        button {
            width:50px; height:50px; position:relative; background:#fff; border-radius:50%; font-size:0;

            img {
                width:35px; height:35px;
                position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
            }
        }
    }

    &.on {
        .back {
            display:block;
        }
    }
}