@charset "UTF-8";

@use "@/styles/_mixin.scss";
// @use "@/styles/_variables.scss";

@use "@/styles/_reset.scss";

@use "@/styles/_fonts.scss";

@use "@/styles/_common.scss";
@use "@/styles/_header.scss";
@use "@/styles/_main.scss";
@use "@/styles/_contents.scss";

@use "@/styles/_lcn.scss";